In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

In [2]:
df=pd.read_csv("survey_data.csv")
df

,ResponseId,MainBranch,Employment,Country,US_State,UK_Country,EdLevel,Age1stCode,LearnCode,YearsCode,...,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,SurveyLength,SurveyEase,ConvertedCompYearly
0,1,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Slovakia,NaN,NaN,"Secondary school (e.g. American high school, G...",18 - 24 years,Coding Bootcamp;Other online resources (ex: vi...,NaN,...,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,62268.0
1,2,I am a student who is learning to code,"Student, full-time",Netherlands,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",7,...,18-24 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,NaN
2,3,"I am not primarily a developer, but I write co...","Student, full-time",Russian Federation,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",NaN,...,18-24 years old,Man,No,Prefer not to say,Prefer not to say,None of the above,None of the above,Appropriate in length,Easy,NaN
3,4,I am a developer by profession,Employed full-time,Austria,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",11 - 17 years,NaN,NaN,...,35-44 years old,Man,No,Straight / Heterosexual,White or of European descent,I am deaf / hard of hearing,NaN,Appropriate in length,Neither easy nor difficult,NaN
4,5,I am a developer by profession,"Independent contractor, freelancer, or self-em...",United Kingdom of Great Britain and Northern I...,NaN,England,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",5 - 10 years,Friend or family member,17,...,25-34 years old,Man,No,NaN,White or of European descent,None of the above,NaN,Appropriate in length,Easy,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83434,83435,I am a developer by profession,Employed full-time,United States of America,Texas,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",6,...,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,I have a concentration and/or memory disorder ...,Appropriate in length,Easy,160500.0
83435,83436,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Benin,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",4,...,18-24 years old,Man,No,Straight / Heterosexual,Black or of African descent,None of the above,None of the above,Appropriate in length,Easy,3960.0
83436,83437,I am a developer by profession,Employed full-time,United States of America,New Jersey,NaN,"Secondary school (e.g. American high school, G...",11 - 17 years,School,10,...,25-34 years old,Man,No,NaN,White or of European descent,None of the above,None of the above,Appropriate in length,Neither easy nor difficult,90000.0
83437,83438,I am a developer by profession,Employed full-time,Canada,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,Online Courses or Certification;Books / Physic...,5,...,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,I have a mood or emotional disorder (e.g. depr...,Appropriate in length,Neither easy nor difficult,816816.0
83438,83439,I am a developer by profession,Employed full-time,Brazil,NaN,NaN,"Professional degree (JD, MD, etc.)",11 - 17 years,School,14,...,18-24 years old,Man,No,Straight / Heterosexual,Hispanic or Latino/a/x,None of the above,None of the above,Appropriate in length,Easy,21168.0

In [3]:
df.head()

,ResponseId,MainBranch,Employment,Country,US_State,UK_Country,EdLevel,Age1stCode,LearnCode,YearsCode,...,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,SurveyLength,SurveyEase,ConvertedCompYearly
0,1,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Slovakia,NaN,NaN,"Secondary school (e.g. American high school, G...",18 - 24 years,Coding Bootcamp;Other online resources (ex: vi...,NaN,...,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,62268.0
1,2,I am a student who is learning to code,"Student, full-time",Netherlands,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",7,...,18-24 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,NaN
2,3,"I am not primarily a developer, but I write co...","Student, full-time",Russian Federation,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",NaN,...,18-24 years old,Man,No,Prefer not to say,Prefer not to say,None of the above,None of the above,Appropriate in length,Easy,NaN
3,4,I am a developer by profession,Employed full-time,Austria,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",11 - 17 years,NaN,NaN,...,35-44 years old,Man,No,Straight / Heterosexual,White or of European descent,I am deaf / hard of hearing,NaN,Appropriate in length,Neither easy nor difficult,NaN
4,5,I am a developer by profession,"Independent contractor, freelancer, or self-em...",United Kingdom of Great Britain and Northern I...,NaN,England,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",5 - 10 years,Friend or family member,17,...,25-34 years old,Man,No,NaN,White or of European descent,None of the above,NaN,Appropriate in length,Easy,NaN

In [4]:
pd.options.display.max_columns=None

In [5]:
df.head()

,ResponseId,MainBranch,Employment,Country,US_State,UK_Country,EdLevel,Age1stCode,LearnCode,YearsCode,YearsCodePro,DevType,OrgSize,Currency,CompTotal,CompFreq,LanguageHaveWorkedWith,LanguageWantToWorkWith,DatabaseHaveWorkedWith,DatabaseWantToWorkWith,PlatformHaveWorkedWith,PlatformWantToWorkWith,WebframeHaveWorkedWith,WebframeWantToWorkWith,MiscTechHaveWorkedWith,MiscTechWantToWorkWith,ToolsTechHaveWorkedWith,ToolsTechWantToWorkWith,NEWCollabToolsHaveWorkedWith,NEWCollabToolsWantToWorkWith,OpSys,NEWStuck,NEWSOSites,SOVisitFreq,SOAccount,SOPartFreq,SOComm,NEWOtherComms,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,SurveyLength,SurveyEase,ConvertedCompYearly
0,1,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Slovakia,NaN,NaN,"Secondary school (e.g. American high school, G...",18 - 24 years,Coding Bootcamp;Other online resources (ex: vi...,NaN,NaN,"Developer, mobile",20 to 99 employees,EUR European Euro,4800.0,Monthly,C++;HTML/CSS;JavaScript;Objective-C;PHP;Swift,Swift,PostgreSQL;SQLite,SQLite,NaN,NaN,Laravel;Symfony,NaN,NaN,NaN,NaN,NaN,PHPStorm;Xcode,Atom;Xcode,MacOS,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow,Multiple times per day,Yes,A few times per month or weekly,"Yes, definitely",No,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,62268.0
1,2,I am a student who is learning to code,"Student, full-time",Netherlands,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",7,NaN,NaN,NaN,NaN,NaN,NaN,JavaScript;Python,NaN,PostgreSQL,NaN,NaN,NaN,Angular;Flask;Vue.js,NaN,Cordova,NaN,Docker;Git;Yarn,Git,Android Studio;IntelliJ;Notepad++;PyCharm,NaN,Windows,Visit Stack Overflow;Google it,Stack Overflow,Daily or almost daily,Yes,Daily or almost daily,"Yes, definitely",No,18-24 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,NaN
2,3,"I am not primarily a developer, but I write co...","Student, full-time",Russian Federation,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,Assembly;C;Python;R;Rust,Julia;Python;Rust,SQLite,SQLite,Heroku,NaN,Flask,Flask,NumPy;Pandas;TensorFlow;Torch/PyTorch,Keras;NumPy;Pandas;TensorFlow;Torch/PyTorch,NaN,NaN,IPython/Jupyter;PyCharm;RStudio;Sublime Text;V...,IPython/Jupyter;RStudio;Sublime Text;Visual St...,MacOS,Visit Stack Overflow;Google it;Watch help / tu...,Stack Overflow;Stack Exchange,Multiple times per day,Yes,Multiple times per day,"Yes, definitely",Yes,18-24 years old,Man,No,Prefer not to say,Prefer not to say,None of the above,None of the above,Appropriate in length,Easy,NaN
3,4,I am a developer by profession,Employed full-time,Austria,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",11 - 17 years,NaN,NaN,NaN,"Developer, front-end",100 to 499 employees,EUR European Euro,NaN,Monthly,JavaScript;TypeScript,JavaScript;TypeScript,NaN,NaN,NaN,NaN,Angular;jQuery,Angular;jQuery,NaN,NaN,NaN,NaN,NaN,NaN,Windows,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow,Daily or almost daily,Yes,Daily or almost daily,Neutral,No,35-44 years old,Man,No,Straight / Heterosexual,White or of European descent,I am deaf / hard of hearing,NaN,Appropriate in length,Neither easy nor difficult,NaN
4,5,I am a developer by profession,"Independent contractor, freelancer, or self-em...",United Kingdom of Great Britain and Northern I...,NaN,England,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",5 - 10 years,Friend or family member,17,10,"Developer, desktop or enterprise applications;...","Just me - I am a freelancer, sole proprietor, ...",GBP\tPound sterling,NaN,NaN,Bash/Shell;HTML/CSS;Python;SQL,Bash/Shell;HTML/CSS;Python;SQL,Elasticsearch;PostgreSQL;Redis,Cassandra;Elasticsearch;PostgreSQL;Redis,NaN,NaN,Flask,Flask,Apache Spark;Hadoop;NumPy;Pandas,Hadoop;NumPy;Pandas,Docker;Git;Kubernetes;Yarn,Docker;Git;Kubernetes;Yarn,Atom;IPython/Jupyter;Notepad++;PyCharm;Vim,Atom;IPython/Jupyter;Notepad++;PyCharm;Vim;Vis...,Linux-based,Visit Stack Overflow;Go for a walk or other ph...,Stack Overflow;Stack Exchange,Daily or almost daily,Yes,A few times per week,"Yes, somewhat",No,25-34 years old,Man,No,NaN,White or of European descent,None of the above,NaN,Appropriate in length,Easy,NaN

In [6]:
df.columns

Index(['ResponseId', 'MainBranch', 'Employment', 'Country', 'US_State',
       'UK_Country', 'EdLevel', 'Age1stCode', 'LearnCode', 'YearsCode',
       'YearsCodePro', 'DevType', 'OrgSize', 'Currency', 'CompTotal',
       'CompFreq', 'LanguageHaveWorkedWith', 'LanguageWantToWorkWith',
       'DatabaseHaveWorkedWith', 'DatabaseWantToWorkWith',
       'PlatformHaveWorkedWith', 'PlatformWantToWorkWith',
       'WebframeHaveWorkedWith', 'WebframeWantToWorkWith',
       'MiscTechHaveWorkedWith', 'MiscTechWantToWorkWith',
       'ToolsTechHaveWorkedWith', 'ToolsTechWantToWorkWith',
       'NEWCollabToolsHaveWorkedWith', 'NEWCollabToolsWantToWorkWith', 'OpSys',
       'NEWStuck', 'NEWSOSites', 'SOVisitFreq', 'SOAccount', 'SOPartFreq',
       'SOComm', 'NEWOtherComms', 'Age', 'Gender', 'Trans', 'Sexuality',
       'Ethnicity', 'Accessibility', 'MentalHealth', 'SurveyLength',
       'SurveyEase', 'ConvertedCompYearly'],
      dtype='object')

In [7]:
df1=df.sort_values(by="Country").loc[:,["Country","Age"]].copy()

In [8]:
df1=df1.reset_index()

In [9]:
df1.drop("index",axis=1,inplace=True)

# 1.Developers age per country:

In [10]:
df1

           Country                 Age
0      Afghanistan  Under 18 years old
1      Afghanistan     18-24 years old
2      Afghanistan                 NaN
3      Afghanistan     25-34 years old
4      Afghanistan     25-34 years old
...            ...                 ...
83434     Zimbabwe     35-44 years old
83435     Zimbabwe  Under 18 years old
83436     Zimbabwe     18-24 years old
83437     Zimbabwe     25-34 years old
83438     Zimbabwe     25-34 years old

[83439 rows x 2 columns]

In [11]:
df.head()

,ResponseId,MainBranch,Employment,Country,US_State,UK_Country,EdLevel,Age1stCode,LearnCode,YearsCode,YearsCodePro,DevType,OrgSize,Currency,CompTotal,CompFreq,LanguageHaveWorkedWith,LanguageWantToWorkWith,DatabaseHaveWorkedWith,DatabaseWantToWorkWith,PlatformHaveWorkedWith,PlatformWantToWorkWith,WebframeHaveWorkedWith,WebframeWantToWorkWith,MiscTechHaveWorkedWith,MiscTechWantToWorkWith,ToolsTechHaveWorkedWith,ToolsTechWantToWorkWith,NEWCollabToolsHaveWorkedWith,NEWCollabToolsWantToWorkWith,OpSys,NEWStuck,NEWSOSites,SOVisitFreq,SOAccount,SOPartFreq,SOComm,NEWOtherComms,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,SurveyLength,SurveyEase,ConvertedCompYearly
0,1,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Slovakia,NaN,NaN,"Secondary school (e.g. American high school, G...",18 - 24 years,Coding Bootcamp;Other online resources (ex: vi...,NaN,NaN,"Developer, mobile",20 to 99 employees,EUR European Euro,4800.0,Monthly,C++;HTML/CSS;JavaScript;Objective-C;PHP;Swift,Swift,PostgreSQL;SQLite,SQLite,NaN,NaN,Laravel;Symfony,NaN,NaN,NaN,NaN,NaN,PHPStorm;Xcode,Atom;Xcode,MacOS,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow,Multiple times per day,Yes,A few times per month or weekly,"Yes, definitely",No,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,62268.0
1,2,I am a student who is learning to code,"Student, full-time",Netherlands,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",7,NaN,NaN,NaN,NaN,NaN,NaN,JavaScript;Python,NaN,PostgreSQL,NaN,NaN,NaN,Angular;Flask;Vue.js,NaN,Cordova,NaN,Docker;Git;Yarn,Git,Android Studio;IntelliJ;Notepad++;PyCharm,NaN,Windows,Visit Stack Overflow;Google it,Stack Overflow,Daily or almost daily,Yes,Daily or almost daily,"Yes, definitely",No,18-24 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,NaN
2,3,"I am not primarily a developer, but I write co...","Student, full-time",Russian Federation,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,Assembly;C;Python;R;Rust,Julia;Python;Rust,SQLite,SQLite,Heroku,NaN,Flask,Flask,NumPy;Pandas;TensorFlow;Torch/PyTorch,Keras;NumPy;Pandas;TensorFlow;Torch/PyTorch,NaN,NaN,IPython/Jupyter;PyCharm;RStudio;Sublime Text;V...,IPython/Jupyter;RStudio;Sublime Text;Visual St...,MacOS,Visit Stack Overflow;Google it;Watch help / tu...,Stack Overflow;Stack Exchange,Multiple times per day,Yes,Multiple times per day,"Yes, definitely",Yes,18-24 years old,Man,No,Prefer not to say,Prefer not to say,None of the above,None of the above,Appropriate in length,Easy,NaN
3,4,I am a developer by profession,Employed full-time,Austria,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",11 - 17 years,NaN,NaN,NaN,"Developer, front-end",100 to 499 employees,EUR European Euro,NaN,Monthly,JavaScript;TypeScript,JavaScript;TypeScript,NaN,NaN,NaN,NaN,Angular;jQuery,Angular;jQuery,NaN,NaN,NaN,NaN,NaN,NaN,Windows,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow,Daily or almost daily,Yes,Daily or almost daily,Neutral,No,35-44 years old,Man,No,Straight / Heterosexual,White or of European descent,I am deaf / hard of hearing,NaN,Appropriate in length,Neither easy nor difficult,NaN
4,5,I am a developer by profession,"Independent contractor, freelancer, or self-em...",United Kingdom of Great Britain and Northern I...,NaN,England,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",5 - 10 years,Friend or family member,17,10,"Developer, desktop or enterprise applications;...","Just me - I am a freelancer, sole proprietor, ...",GBP\tPound sterling,NaN,NaN,Bash/Shell;HTML/CSS;Python;SQL,Bash/Shell;HTML/CSS;Python;SQL,Elasticsearch;PostgreSQL;Redis,Cassandra;Elasticsearch;PostgreSQL;Redis,NaN,NaN,Flask,Flask,Apache Spark;Hadoop;NumPy;Pandas,Hadoop;NumPy;Pandas,Docker;Git;Kubernetes;Yarn,Docker;Git;Kubernetes;Yarn,Atom;IPython/Jupyter;Notepad++;PyCharm;Vim,Atom;IPython/Jupyter;Notepad++;PyCharm;Vim;Vis...,Linux-based,Visit Stack Overflow;Go for a walk or other ph...,Stack Overflow;Stack Exchange,Daily or almost daily,Yes,A few times per week,"Yes, somewhat",No,25-34 years old,Man,No,NaN,White or of European descent,None of the above,NaN,Appropriate in length,Easy,NaN

In [12]:
df.columns

Index(['ResponseId', 'MainBranch', 'Employment', 'Country', 'US_State',
       'UK_Country', 'EdLevel', 'Age1stCode', 'LearnCode', 'YearsCode',
       'YearsCodePro', 'DevType', 'OrgSize', 'Currency', 'CompTotal',
       'CompFreq', 'LanguageHaveWorkedWith', 'LanguageWantToWorkWith',
       'DatabaseHaveWorkedWith', 'DatabaseWantToWorkWith',
       'PlatformHaveWorkedWith', 'PlatformWantToWorkWith',
       'WebframeHaveWorkedWith', 'WebframeWantToWorkWith',
       'MiscTechHaveWorkedWith', 'MiscTechWantToWorkWith',
       'ToolsTechHaveWorkedWith', 'ToolsTechWantToWorkWith',
       'NEWCollabToolsHaveWorkedWith', 'NEWCollabToolsWantToWorkWith', 'OpSys',
       'NEWStuck', 'NEWSOSites', 'SOVisitFreq', 'SOAccount', 'SOPartFreq',
       'SOComm', 'NEWOtherComms', 'Age', 'Gender', 'Trans', 'Sexuality',
       'Ethnicity', 'Accessibility', 'MentalHealth', 'SurveyLength',
       'SurveyEase', 'ConvertedCompYearly'],
      dtype='object')

In [13]:
df.loc[:,["Age","Gender"]]

                   Age Gender
0      25-34 years old    Man
1      18-24 years old    Man
2      18-24 years old    Man
3      35-44 years old    Man
4      25-34 years old    Man
...                ...    ...
83434  25-34 years old    Man
83435  18-24 years old    Man
83436  25-34 years old    Man
83437  25-34 years old    Man
83438  18-24 years old    Man

[83439 rows x 2 columns]

# 2.Make a column(description) joining two columns(gender,age) with a keyword "and"

In [14]:
df["Description"]=df["Age"]+" and "+df["Gender"]

In [15]:
df.head()

,ResponseId,MainBranch,Employment,Country,US_State,UK_Country,EdLevel,Age1stCode,LearnCode,YearsCode,YearsCodePro,DevType,OrgSize,Currency,CompTotal,CompFreq,LanguageHaveWorkedWith,LanguageWantToWorkWith,DatabaseHaveWorkedWith,DatabaseWantToWorkWith,PlatformHaveWorkedWith,PlatformWantToWorkWith,WebframeHaveWorkedWith,WebframeWantToWorkWith,MiscTechHaveWorkedWith,MiscTechWantToWorkWith,ToolsTechHaveWorkedWith,ToolsTechWantToWorkWith,NEWCollabToolsHaveWorkedWith,NEWCollabToolsWantToWorkWith,OpSys,NEWStuck,NEWSOSites,SOVisitFreq,SOAccount,SOPartFreq,SOComm,NEWOtherComms,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,SurveyLength,SurveyEase,ConvertedCompYearly,Description
0,1,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Slovakia,NaN,NaN,"Secondary school (e.g. American high school, G...",18 - 24 years,Coding Bootcamp;Other online resources (ex: vi...,NaN,NaN,"Developer, mobile",20 to 99 employees,EUR European Euro,4800.0,Monthly,C++;HTML/CSS;JavaScript;Objective-C;PHP;Swift,Swift,PostgreSQL;SQLite,SQLite,NaN,NaN,Laravel;Symfony,NaN,NaN,NaN,NaN,NaN,PHPStorm;Xcode,Atom;Xcode,MacOS,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow,Multiple times per day,Yes,A few times per month or weekly,"Yes, definitely",No,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,62268.0,25-34 years old and Man
1,2,I am a student who is learning to code,"Student, full-time",Netherlands,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",7,NaN,NaN,NaN,NaN,NaN,NaN,JavaScript;Python,NaN,PostgreSQL,NaN,NaN,NaN,Angular;Flask;Vue.js,NaN,Cordova,NaN,Docker;Git;Yarn,Git,Android Studio;IntelliJ;Notepad++;PyCharm,NaN,Windows,Visit Stack Overflow;Google it,Stack Overflow,Daily or almost daily,Yes,Daily or almost daily,"Yes, definitely",No,18-24 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,NaN,18-24 years old and Man
2,3,"I am not primarily a developer, but I write co...","Student, full-time",Russian Federation,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,Assembly;C;Python;R;Rust,Julia;Python;Rust,SQLite,SQLite,Heroku,NaN,Flask,Flask,NumPy;Pandas;TensorFlow;Torch/PyTorch,Keras;NumPy;Pandas;TensorFlow;Torch/PyTorch,NaN,NaN,IPython/Jupyter;PyCharm;RStudio;Sublime Text;V...,IPython/Jupyter;RStudio;Sublime Text;Visual St...,MacOS,Visit Stack Overflow;Google it;Watch help / tu...,Stack Overflow;Stack Exchange,Multiple times per day,Yes,Multiple times per day,"Yes, definitely",Yes,18-24 years old,Man,No,Prefer not to say,Prefer not to say,None of the above,None of the above,Appropriate in length,Easy,NaN,18-24 years old and Man
3,4,I am a developer by profession,Employed full-time,Austria,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",11 - 17 years,NaN,NaN,NaN,"Developer, front-end",100 to 499 employees,EUR European Euro,NaN,Monthly,JavaScript;TypeScript,JavaScript;TypeScript,NaN,NaN,NaN,NaN,Angular;jQuery,Angular;jQuery,NaN,NaN,NaN,NaN,NaN,NaN,Windows,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow,Daily or almost daily,Yes,Daily or almost daily,Neutral,No,35-44 years old,Man,No,Straight / Heterosexual,White or of European descent,I am deaf / hard of hearing,NaN,Appropriate in length,Neither easy nor difficult,NaN,35-44 years old and Man
4,5,I am a developer by profession,"Independent contractor, freelancer, or self-em...",United Kingdom of Great Britain and Northern I...,NaN,England,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",5 - 10 years,Friend or family member,17,10,"Developer, desktop or enterprise applications;...","Just me - I am a freelancer, sole proprietor, ...",GBP\tPound sterling,NaN,NaN,Bash/Shell;HTML/CSS;Python;SQL,Bash/Shell;HTML/CSS;Python;SQL,Elasticsearch;PostgreSQL;Redis,Cassandra;Elasticsearch;PostgreSQL;Redis,NaN,NaN,Flask,Flask,Apache Spark;Hadoop;NumPy;Pandas,Hadoop;NumPy;Pandas,Docker;Git;Kubernetes;Yarn,Docker;Git;Kubernetes;Yarn,Atom;IPython/Jupyter;Notepad++;PyCharm;Vim,Atom;IPython/Jupyter;Notepad++;PyCharm;Vim;Vis...,Linux-based,Visit Stack Overflow;Go for a walk or other ph...,Stack Overflow;Stack Exchange,Daily or almost daily,Yes,A few times per week,"Yes, somewhat",No,25-34 years old,Man,No,NaN,White or of European descent,None of the above,NaN,Appropriate in length,Easy,NaN,25-34 years old and Man

# 3.Drop columns(age,gender)

In [16]:
df.drop(columns=["Age","Gender"],inplace=True)
df.columns

Index(['ResponseId', 'MainBranch', 'Employment', 'Country', 'US_State',
       'UK_Country', 'EdLevel', 'Age1stCode', 'LearnCode', 'YearsCode',
       'YearsCodePro', 'DevType', 'OrgSize', 'Currency', 'CompTotal',
       'CompFreq', 'LanguageHaveWorkedWith', 'LanguageWantToWorkWith',
       'DatabaseHaveWorkedWith', 'DatabaseWantToWorkWith',
       'PlatformHaveWorkedWith', 'PlatformWantToWorkWith',
       'WebframeHaveWorkedWith', 'WebframeWantToWorkWith',
       'MiscTechHaveWorkedWith', 'MiscTechWantToWorkWith',
       'ToolsTechHaveWorkedWith', 'ToolsTechWantToWorkWith',
       'NEWCollabToolsHaveWorkedWith', 'NEWCollabToolsWantToWorkWith', 'OpSys',
       'NEWStuck', 'NEWSOSites', 'SOVisitFreq', 'SOAccount', 'SOPartFreq',
       'SOComm', 'NEWOtherComms', 'Trans', 'Sexuality', 'Ethnicity',
       'Accessibility', 'MentalHealth', 'SurveyLength', 'SurveyEase',
       'ConvertedCompYearly', 'Description'],
      dtype='object')

In [17]:
df.loc[:,"Description"].fillna("na and na",inplace=True)

In [18]:
l=(df.loc[:,"Description"]).to_list()
l

['25-34 years old and Man',
 '18-24 years old and Man',
 '18-24 years old and Man',
 '35-44 years old and Man',
 '25-34 years old and Man',
 '18-24 years old and Prefer not to say',
 'Prefer not to say and Prefer not to say',
 '18-24 years old and Woman',
 '25-34 years old and Man',
 '25-34 years old and Man',
 '25-34 years old and Man',
 '25-34 years old and Man',
 '25-34 years old and Man',
 'Prefer not to say and Prefer not to say',
 '45-54 years old and Man',
 'Under 18 years old and Man',
 '25-34 years old and Man',
 '25-34 years old and Man',
 '45-54 years old and Man',
 '25-34 years old and Man',
 '25-34 years old and Man',
 '18-24 years old and Man',
 'Under 18 years old and Man',
 '25-34 years old and Man',
 '35-44 years old and Man',
 '35-44 years old and Non-binary, genderqueer, or gender non-conforming',
 '25-34 years old and Man',
 '45-54 years old and Man',
 '25-34 years old and Man',
 '35-44 years old and Man',
 'Prefer not to say and Man',
 '25-34 years old and Man',
 '25-34 years old and Man',
 '18-24 years old and Man',
 '25-34 years old and Man',
 '25-34 years old and Man',
 '18-24 years old and Man',
 '35-44 years old and Man',
 '18-24 years old and Man',
 '18-24 years old and Woman',
 '25-34 years old and Man',
 '25-34 years old and Man',
 '25-34 years old and Man',
 '18-24 years old and Man',
 '18-24 years old and Woman',
 '35-44 years old and Man',
 '25-34 years old and Man',
 '65 years or older and Man',
 '18-24 years old and Man',
 '18-24 years old and Man',
 '25-34 years old and Man',
 '25-34 years old and Man',
 '25-34 years old and Man',
 '25-34 years old and Woman',
 '25-34 years old and Man',
 '35-44 years old and Man',
 '25-34 years old and Man',
 '35-44 years old and Man',
 '25-34 years old and Man',
 'Under 18 years old and Non-binary, genderqueer, or gender non-conforming',
 '18-24 years old and Man',
 '25-34 years old and Man',
 '25-34 years old and Man',
 'Under 18 years old and Man',
 '35-44 years old and Man',
 '35-44 years old and Man',
 '25-34 years old and Man',
 '35-44 years old and Man',
 '35-44 years old and Man',
 '35-44 years old and Man',
 '25-34 years old and Man',
 '45-54 years old and Man',
 '25-34 years old and Man',
 '18-24 years old and Man',
 '18-24 years old and Man',
 '45-54 years old and Man',
 '25-34 years old and Man',
 '35-44 years old and Man',
 '18-24 years old and Man',
 '18-24 years old and Man',
 'Under 18 years old and Man',
 '35-44 years old and Man',
 '18-24 years old and Woman',
 '25-34 years old and Man',
 '25-34 years old and Man',
 '18-24 years old and Man;Or, in your own words:',
 '35-44 years old and Man',
 '25-34 years old and Man',
 '35-44 years old and Man',
 '18-24 years old and Man',
 '25-34 years old and Man',
 '25-34 years old and Man',
 '25-34 years old and Prefer not to say',
 '25-34 years old and Man',
 '45-54 years old and Man',
 '35-44 years old and Man',
 '18-24 years old and Non-binary, genderqueer, or gender non-conforming',
 '18-24 years old and Man',
 '18-24 years old and Man',
 '25-34 years old and Man',
 '18-24 years old and Man',
 '25-34 years old and Man',
 '18-24 years old and Man',
 '25-34 years old and Man',
 '25-34 years old and Man',
 '55-64 years old and Man',
 '18-24 years old and Man',
 '45-54 years old and Man',
 '25-34 years old and Man',
 '18-24 years old and Man',
 '18-24 years old and Man',
 '35-44 years old and Man',
 'Under 18 years old and Man',
 '25-34 years old and Man',
 '25-34 years old and Man',
 'Under 18 years old and Man',
 '25-34 years old and Man',
 '18-24 years old and Man',
 '25-34 years old and Man',
 '25-34 years old and Man',
 '65 years or older and Man',
 '18-24 years old and Man',
 '18-24 years old and Man',
 '25-34 years old and Man',
 '35-44 years old and Man',
 '25-34 years old and Man',
 '18-24 years old and Man',
 '18-24 years old and Man',
 '18-24 years old and Man',
 '35-44 years old and Man',
 '25-34 years old and Man',
 '25-34 years old and Man',
 '35-44 years old and Man',
 'Under 18 years old and Man',
 '25-34 years old and Man',
 '25-34 years old and Man',
 '25-34 years old and Man',
 '35-44 years old and Man',
 '25-34 years old and Man',
 '35-44 years old and Man',
 'Under 18 years old and Man',
 '25-34 years old and Man',
 '18-24 years old and Woman',
 '45-54 years old and Man',
 '25-34 years old and Man',
 '25-34 years old and Man',
 '25-34 years old and Woman',
 '18-24 years old and Man',
 '25-34 years old and Man',
 'na and na',
 '18-24 years old and Man',
 '45-54 years old and Man',
 '45-54 years old and Man',
 '18-24 years old and Man',
 '25-34 years old and Man',
 '45-54 years old and Man',
 '25-34 years old and Man',
 '25-34 years old and Man',
 '25-34 years old and Man',
 '25-34 years old and Man',
 '25-34 years old and Man',
 '45-54 years old and Man',
 '35-44 years old and Man',
 '25-34 years old and Man',
 'Prefer not to say and Man',
 '25-34 years old and Man',
 '35-44 years old and Man',
 '45-54 years old and Man',
 '18-24 years old and Man',
 '18-24 years old and Man',
 '35-44 years old and Man',
 '25-34 years old and Prefer not to say',
 '35-44 years old and Man',
 '25-34 years old and Man',
 '45-54 years old and Man',
 '25-34 years old and Man',
 '25-34 years old and Man',
 '45-54 years old and Man',
 '25-34 years old and Man',
 '35-44 years old and Man',
 '55-64 years old and Man',
 '18-24 years old and Man',
 '35-44 years old and Man',
 '35-44 years old and Man',
 '35-44 years old and Man',
 '18-24 years old and Man',
 '35-44 years old and Man',
 '35-44 years old and Man',
 '18-24 years old and Man',
 '18-24 years old and Man',
 '25-34 years old and Man',
 '18-24 years old and Man',
 '25-34 years old and Man',
 '35-44 years old and Man',
 '25-34 years old and Man',
 '18-24 years old and Man',
 '25-34 years old and Man',
 '18-24 years old and Man',
 '25-34 years old and Man',
 '25-34 years old and Man',
 'Under 18 years old and Man',
 '35-44 years old and Man',
 'Under 18 years old and Man',
 '25-34 years old and Man',
 '18-24 years old and Man',
 '18-24 years old and Man',
 '25-34 years old and Woman',
 '25-34 years old and Man',
 '25-34 years old and Man',
 '35-44 years old and Man',
 '35-44 years old and Man',
 '35-44 years old and Man',
 '35-44 years old and Man',
 '25-34 years old and Man',
 '45-54 years old and Man',
 '18-24 years old and Man',
 '18-24 years old and Man',
 '25-34 years old and Man',
 'Under 18 years old and Man',
 '18-24 years old and Man',
 '18-24 years old and Man',
 '25-34 years old and Man',
 '25-34 years old and Man',
 '35-44 years old and Man',
 '35-44 years old and Man',
 '18-24 years old and Man',
 '25-34 years old and Man',
 '25-34 years old and Man',
 '35-44 years old and Man',
 '25-34 years old and Man',
 '18-24 years old and Man',
 '25-34 years old and Woman',
 '45-54 years old and Man',
 '25-34 years old and Man',
 '35-44 years old and Man',
 '25-34 years old and Man',
 '25-34 years old and Man',
 '18-24 years old and Man',
 '25-34 years old and Man',
 '25-34 years old and Man',
 '25-34 years old and Man',
 '18-24 years old and Man',
 '35-44 years old and Man',
 '25-34 years old and Man',
 '25-34 years old and Man',
 '18-24 years old and Man',
 '25-34 years old and Prefer not to say',
 'Under 18 years old and Man',
 '18-24 years old and Man',
 '18-24 years old and Man',
 '25-34 years old and Man',
 'na and na',
 '35-44 years old and Man',
 '35-44 years old and Man',
 '18-24 years old and Man',
 '18-24 years old and Man',
 '25-34 years old and Man',
 '18-24 years old and Man',
 '35-44 years old and Man',
 '25-34 years old and Man',
 '25-34 years old and Man',
 '18-24 years old and Man',
 '25-34 years old and Man',
 '25-34 years old and Man',
 '25-34 years old and Woman',
 '35-44 years old and Man',
 '25-34 years old and Man',
 '35-44 years old and Man',
 '18-24 years old and Man',
 '25-34 years old and Man',
 '18-24 years old and Man;Or, in your own words:',
 '25-34 years old and Man',
 '25-34 years old and Man',
 '25-34 years old and Man',
 '25-34 years old and Man',
 '18-24 years old and Man',
 '35-44 years old and Man',
 '18-24 years old and Man',
 '35-44 years old and Man',
 '25-34 years old and Man',
 '55-64 years old and Man',
 'Under 18 years old and Man',
 '18-24 years old and Man',
 'Under 18 years old and Man',
 'Prefer not to say and Prefer not to say',
 '25-34 years old and Man',
 '25-34 years old and Man',
 '18-24 years old and Man',
 '35-44 years old and Man',
 '35-44 years old and Man',
 '25-34 years old and Man',
 'Under 18 years old and Man',
 '35-44 years old and Man',
 'na and na',
 'Under 18 years old and Man',
 'Prefer not to say and Man',
 '25-34 years old and Man',
 '18-24 years old and Man',
 '45-54 years old and Man',
 '45-54 years old and Man',
 '25-34 years old and Man',
 '25-34 years old and Woman;Non-binary, genderqueer, or gender non-conforming',
 '55-64 years old and Man',
 '18-24 years old and Man',
 '18-24 years old and Man',
 '25-34 years old and Man',
 '18-24 years old and Man',
 'na and na',
 '18-24 years old and Man',
 '45-54 years old and Man',
 '25-34 years old and Man',
 '18-24 years old and Man',
 '25-34 years old and Man',
 '35-44 years old and Man',
 'Under 18 years old and Man',
 '35-44 years old and Man',
 '25-34 years old and Man',
 '18-24 years old and Man',
 '35-44 years old and Man',
 '18-24 years old and Man',
 '18-24 years old and Man',
 'Under 18 years old and Man',
 '25-34 years old and Man',
 '25-34 years old and Man',
 '25-34 years old and Woman',
 '25-34 years old and Man',
 '25-34 years old and Man',
 '35-44 years old and Man',
 '35-44 years old and Man',
 '18-24 years old and Man',
 '25-34 years old and Man',
 '18-24 years old and Man',
 '55-64 years old and Man',
 '45-54 years old and Man',
 '35-44 years old and Man',
 '35-44 years old and Man',
 '25-34 years old and Man',
 '18-24 years old and Man',
 '25-34 years old and Man;Non-binary, genderqueer, or gender non-conforming',
 '18-24 years old and Man',
 '18-24 years old and Man',
 '55-64 years old and Prefer not to say',
 '35-44 years old and Man',
 'Prefer not to say and Prefer not to say',
 '25-34 years old and Prefer not to say',
 '25-34 years old and Man',
 '25-34 years old and Man',
 '35-44 years old and Man',
 '25-34 years old and Woman',
 '25-34 years old and Man',
 '25-34 years old and Man',
 '18-24 years old and Man',
 '25-34 years old and Man',
 '25-34 years old and Man',
 '25-34 years old and Man',
 'na and na',
 '18-24 years old and Man',
 '25-34 years old and Man',
 '25-34 years old and Man',
 '25-34 years old and Man',
 '18-24 years old and Man',
 '25-34 years old and Man',
 'Under 18 years old and Man',
 '65 years or older and Man',
 '25-34 years old and Man',
 '18-24 years old and Man',
 '25-34 years old and Man',
 '18-24 years old and Man',
 '25-34 years old and Woman',
 '25-34 years old and Man',
 '55-64 years old and Man',
 '35-44 years old and Man',
 '25-34 years old and Man',
 '25-34 years old and Man',
 '25-34 years old and Man',
 '25-34 years old and Man',
 '18-24 years old and Man',
 '18-24 years old and Man',
 '25-34 years old and Man',
 '35-44 years old and Man',
 '25-34 years old and Man',
 '25-34 years old and Man',
 '25-34 years old and Man',
 '35-44 years old and Man',
 '18-24 years old and Man',
 '25-34 years old and Man',
 '25-34 years old and Man',
 '25-34 years old and Man',
 '18-24 years old and Man',
 '25-34 years old and Man',
 '18-24 years old and Man',
 'Under 18 years old and Man',
 '25-34 years old and Man',
 'na and na',
 '18-24 years old and Man',
 '18-24 years old and Man',
 '18-24 years old and Man',
 '55-64 years old and Man',
 'na and na',
 '25-34 years old and Or, in your own words:',
 '25-34 years old and Man',
 '25-34 years old and Man',
 '35-44 years old and Man',
 '25-34 years old and Man',
 '25-34 years old and Man',
 '35-44 years old and Man',
 '45-54 years old and Man',
 '25-34 years old and Man',
 'Under 18 years old and Man',
 '45-54 years old and Man',
 '25-34 years old and Man',
 '18-24 years old and Man',
 '25-34 years old and Man',
 '35-44 years old and Man',
 '25-34 years old and Man',
 '45-54 years old and Man',
 '45-54 years old and Man',
 '35-44 years old and Man',
 '18-24 years old and Man',
 '25-34 years old and Woman',
 '45-54 years old and Man',
 '35-44 years old and Man',
 '25-34 years old and Man',
 '18-24 years old and Man',
 '25-34 years old and Man',
 '25-34 years old and Man',
 '18-24 years old and Man',
 '18-24 years old and Man',
 '45-54 years old and Woman',
 '25-34 years old and Man',
 '18-24 years old and Man',
 '18-24 years old and Man',
 '35-44 years old and Man',
 '18-24 years old and Man',
 '25-34 years old and Man',
 '35-44 years old and Man',
 '25-34 years old and Man',
 '35-44 years old and Man',
 '25-34 years old and Man',
 '45-54 years old and Man',
 '25-34 years old and Man',
 '35-44 years old and Man',
 '25-34 years old and Man',
 '25-34 years old and Man',
 '18-24 years old and Man',
 '18-24 years old and Man',
 '18-24 years old and Man',
 '25-34 years old and Man',
 '25-34 years old and Man',
 '25-34 years old and Man',
 '25-34 years old and Man',
 'Prefer not to say and Prefer not to say',
 '25-34 years old and Man',
 '18-24 years old and Man',
 '18-24 years old and Man',
 'Under 18 years old and Man',
 'na and na',
 '55-64 years old and Or, in your own words:',
 '25-34 years old and Man',
 '25-34 years old and Man',
 '25-34 years old and Man',
 'Under 18 years old and Man',
 '25-34 years old and Man',
 '25-34 years old and Man',
 '25-34 years old and Man',
 '25-34 years old and Woman',
 '25-34 years old and Man',
 '25-34 years old and Man',
 '25-34 years old and Man',
 '25-34 years old and Man',
 '25-34 years old and Man',
 '25-34 years old and Man',
 '35-44 years old and Man',
 '25-34 years old and Man',
 '18-24 years old and Man',
 '25-34 years old and Man',
 '25-34 years old and Man',
 '25-34 years old and Man',
 '25-34 years old and Man',
 '55-64 years old and Woman',
 '18-24 years old and Man',
 '35-44 years old and Man',
 '18-24 years old and Man',
 '35-44 years old and Man',
 'Under 18 years old and Man',
 '55-64 years old and Man',
 '18-24 years old and Man',
 '18-24 years old and Man',
 '25-34 years old and Man',
 '25-34 years old and Man',
 '18-24 years old and Man',
 '18-24 years old and Man',
 '25-34 years old and Man',
 '35-44 years old and Man',
 '25-34 years old and Man',
 '25-34 years old and Man',
 '18-24 years old and Man',
 '25-34 years old and Man',
 '18-24 years old and Man',
 '25-34 years old and Man',
 '35-44 years old and Man',
 '45-54 years old and Man',
 '35-44 years old and Or, in your own words:',
 '35-44 years old and Man',
 '45-54 years old and Man',
 '25-34 years old and Man',
 '18-24 years old and Man',
 'Under 18 years old and Man',
 '55-64 years old and Man',
 '25-34 years old and Man',
 '25-34 years old and Man',
 '25-34 years old and Man',
 '25-34 years old and Man',
 '18-24 years old and Man',
 '25-34 years old and Man',
 '25-34 years old and Man',
 '25-34 years old and Man',
 '25-34 years old and Man',
 '25-34 years old and Man',
 'na and na',
 '25-34 years old and Man',
 '25-34 years old and Man',
 '45-54 years old and Man',
 '18-24 years old and Woman',
 '25-34 years old and Man',
 '25-34 years old and Man',
 '45-54 years old and Man',
 '25-34 years old and Prefer not to say',
 '25-34 years old and Man',
 '25-34 years old and Man',
 '18-24 years old and Man',
 'Under 18 years old and Man',
 '25-34 years old and Man',
 '25-34 years old and Man',
 '25-34 years old and Man',
 '25-34 years old and Man',
 '25-34 years old and Man',
 '18-24 years old and Man',
 '18-24 years old and Man',
 '55-64 years old and Man',
 '35-44 years old and Man',
 '25-34 years old and Man',
 '18-24 years old and Man',
 '25-34 years old and Man',
 '25-34 years old and Man',
 '25-34 years old and Man',
 'Under 18 years old and Man',
 '25-34 years old and Man',
 '45-54 years old and Man',
 '35-44 years old and Man',
 '25-34 years old and Man',
 '18-24 years old and Man',
 '35-44 years old and Man',
 '18-24 years old and Man',
 '18-24 years old and Man',
 '18-24 years old and Woman',
 '35-44 years old and Man',
 '18-24 years old and Man',
 '18-24 years old and Man',
 '35-44 years old and Man',
 '25-34 years old and Man',
 'Under 18 years old and Man',
 '35-44 years old and Man',
 '35-44 years old and Man',
 '25-34 years old and Man',
 '25-34 years old and Man',
 '35-44 years old and Man',
 '25-34 years old and Man',
 '18-24 years old and Man',
 '25-34 years old and Man',
 '18-24 years old and Man',
 '25-34 years old and Man',
 'na and na',
 'Prefer not to say and Prefer not to say',
 '25-34 years old and Man',
 '18-24 years old and Man',
 '35-44 years old and Man',
 '25-34 years old and Woman',
 '35-44 years old and Man',
 '18-24 years old and Prefer not to say',
 '35-44 years old and Man',
 '35-44 years old and Man',
 '35-44 years old and Man',
 '25-34 years old and Man',
 '35-44 years old and Woman',
 '25-34 years old and Man',
 '18-24 years old and Man',
 '45-54 years old and Man',
 '25-34 years old and Man',
 '18-24 years old and Man',
 'Under 18 years old and Man',
 '35-44 years old and Man',
 '45-54 years old and Man',
 '18-24 years old and Man',
 '25-34 years old and Man',
 '18-24 years old and Man',
 '25-34 years old and Man',
 'na and na',
 '25-34 years old and Man',
 'Under 18 years old and Man',
 '18-24 years old and Man',
 '25-34 years old and Prefer not to say',
 '18-24 years old and Man',
 '18-24 years old and Man',
 '25-34 years old and Man',
 '45-54 years old and Man',
 '35-44 years old and Man',
 '25-34 years old and Man',
 '18-24 years old and Man',
 '25-34 years old and Man',
 '25-34 years old and Woman',
 '18-24 years old and Man',
 '25-34 years old and Non-binary, genderqueer, or gender non-conforming',
 '55-64 years old and Man;Or, in your own words:',
 '18-24 years old and Man',
 '25-34 years old and Man',
 '35-44 years old and Or, in your own words:',
 '25-34 years old and Man',
 '25-34 years old and Man',
 '45-54 years old and Man',
 '25-34 years old and Man',
 '35-44 years old and Man',
 'Under 18 years old and Man',
 '25-34 years old and Man',
 '35-44 years old and Man',
 '35-44 years old and Man',
 '25-34 years old and Man',
 '35-44 years old and Man',
 '25-34 years old and Man',
 '25-34 years old and Man',
 '18-24 years old and Man',
 '18-24 years old and Man',
 '35-44 years old and Man',
 '18-24 years old and Man',
 '18-24 years old and Man',
 '25-34 years old and Man',
 '18-24 years old and Man',
 '25-34 years old and Man',
 '25-34 years old and Man',
 '25-34 years old and Man',
 '18-24 years old and Man',
 '18-24 years old and Man',
 '25-34 years old and Man',
 'Under 18 years old and Man',
 '18-24 years old and Man',
 '35-44 years old and Man',
 '25-34 years old and Man',
 '18-24 years old and Man',
 '25-34 years old and Man',
 'na and na',
 '18-24 years old and Man',
 '18-24 years old and Man',
 '45-54 years old and Man',
 '25-34 years old and Man',
 '25-34 years old and Man',
 '25-34 years old and Man',
 '18-24 years old and Man',
 '25-34 years old and Man',
 '18-24 years old and Man',
 '25-34 years old and Man',
 '25-34 years old and Man',
 '18-24 years old and Man',
 '25-34 years old and Man',
 '25-34 years old and Man',
 '45-54 years old and Man',
 '18-24 years old and Man',
 '25-34 years old and Man',
 '18-24 years old and Man',
 '25-34 years old and Man',
 '25-34 years old and Man',
 '35-44 years old and Man',
 '25-34 years old and Woman',
 '25-34 years old and Man',
 '25-34 years old and Man',
 'Under 18 years old and Man',
 '18-24 years old and Man',
 '25-34 years old and Man',
 '25-34 years old and Man',
 '18-24 years old and Man',
 '35-44 years old and Man',
 '25-34 years old and Man',
 '45-54 years old and Man',
 '25-34 years old and Man',
 '18-24 years old and Man',
 '25-34 years old and Man',
 '18-24 years old and Man',
 '35-44 years old and Man',
 '35-44 years old and Man',
 '25-34 years old and Man',
 '18-24 years old and Man',
 '25-34 years old and Man',

In [19]:
l1=[]
l2=[]
for item in l:
    x=item.split(" and ")
    l1.append(x[0])
    l2.append(x[1])

In [20]:
l1

['25-34 years old',
 '18-24 years old',
 '18-24 years old',
 '35-44 years old',
 '25-34 years old',
 '18-24 years old',
 'Prefer not to say',
 '18-24 years old',
 '25-34 years old',
 '25-34 years old',
 '25-34 years old',
 '25-34 years old',
 '25-34 years old',
 'Prefer not to say',
 '45-54 years old',
 'Under 18 years old',
 '25-34 years old',
 '25-34 years old',
 '45-54 years old',
 '25-34 years old',
 '25-34 years old',
 '18-24 years old',
 'Under 18 years old',
 '25-34 years old',
 '35-44 years old',
 '35-44 years old',
 '25-34 years old',
 '45-54 years old',
 '25-34 years old',
 '35-44 years old',
 'Prefer not to say',
 '25-34 years old',
 '25-34 years old',
 '18-24 years old',
 '25-34 years old',
 '25-34 years old',
 '18-24 years old',
 '35-44 years old',
 '18-24 years old',
 '18-24 years old',
 '25-34 years old',
 '25-34 years old',
 '25-34 years old',
 '18-24 years old',
 '18-24 years old',
 '35-44 years old',
 '25-34 years old',
 '65 years or older',
 '18-24 years old',
 '18-24 years old',
 '25-34 years old',
 '25-34 years old',
 '25-34 years old',
 '25-34 years old',
 '25-34 years old',
 '35-44 years old',
 '25-34 years old',
 '35-44 years old',
 '25-34 years old',
 'Under 18 years old',
 '18-24 years old',
 '25-34 years old',
 '25-34 years old',
 'Under 18 years old',
 '35-44 years old',
 '35-44 years old',
 '25-34 years old',
 '35-44 years old',
 '35-44 years old',
 '35-44 years old',
 '25-34 years old',
 '45-54 years old',
 '25-34 years old',
 '18-24 years old',
 '18-24 years old',
 '45-54 years old',
 '25-34 years old',
 '35-44 years old',
 '18-24 years old',
 '18-24 years old',
 'Under 18 years old',
 '35-44 years old',
 '18-24 years old',
 '25-34 years old',
 '25-34 years old',
 '18-24 years old',
 '35-44 years old',
 '25-34 years old',
 '35-44 years old',
 '18-24 years old',
 '25-34 years old',
 '25-34 years old',
 '25-34 years old',
 '25-34 years old',
 '45-54 years old',
 '35-44 years old',
 '18-24 years old',
 '18-24 years old',
 '18-24 years old',
 '25-34 years old',
 '18-24 years old',
 '25-34 years old',
 '18-24 years old',
 '25-34 years old',
 '25-34 years old',
 '55-64 years old',
 '18-24 years old',
 '45-54 years old',
 '25-34 years old',
 '18-24 years old',
 '18-24 years old',
 '35-44 years old',
 'Under 18 years old',
 '25-34 years old',
 '25-34 years old',
 'Under 18 years old',
 '25-34 years old',
 '18-24 years old',
 '25-34 years old',
 '25-34 years old',
 '65 years or older',
 '18-24 years old',
 '18-24 years old',
 '25-34 years old',
 '35-44 years old',
 '25-34 years old',
 '18-24 years old',
 '18-24 years old',
 '18-24 years old',
 '35-44 years old',
 '25-34 years old',
 '25-34 years old',
 '35-44 years old',
 'Under 18 years old',
 '25-34 years old',
 '25-34 years old',
 '25-34 years old',
 '35-44 years old',
 '25-34 years old',
 '35-44 years old',
 'Under 18 years old',
 '25-34 years old',
 '18-24 years old',
 '45-54 years old',
 '25-34 years old',
 '25-34 years old',
 '25-34 years old',
 '18-24 years old',
 '25-34 years old',
 'na',
 '18-24 years old',
 '45-54 years old',
 '45-54 years old',
 '18-24 years old',
 '25-34 years old',
 '45-54 years old',
 '25-34 years old',
 '25-34 years old',
 '25-34 years old',
 '25-34 years old',
 '25-34 years old',
 '45-54 years old',
 '35-44 years old',
 '25-34 years old',
 'Prefer not to say',
 '25-34 years old',
 '35-44 years old',
 '45-54 years old',
 '18-24 years old',
 '18-24 years old',
 '35-44 years old',
 '25-34 years old',
 '35-44 years old',
 '25-34 years old',
 '45-54 years old',
 '25-34 years old',
 '25-34 years old',
 '45-54 years old',
 '25-34 years old',
 '35-44 years old',
 '55-64 years old',
 '18-24 years old',
 '35-44 years old',
 '35-44 years old',
 '35-44 years old',
 '18-24 years old',
 '35-44 years old',
 '35-44 years old',
 '18-24 years old',
 '18-24 years old',
 '25-34 years old',
 '18-24 years old',
 '25-34 years old',
 '35-44 years old',
 '25-34 years old',
 '18-24 years old',
 '25-34 years old',
 '18-24 years old',
 '25-34 years old',
 '25-34 years old',
 'Under 18 years old',
 '35-44 years old',
 'Under 18 years old',
 '25-34 years old',
 '18-24 years old',
 '18-24 years old',
 '25-34 years old',
 '25-34 years old',
 '25-34 years old',
 '35-44 years old',
 '35-44 years old',
 '35-44 years old',
 '35-44 years old',
 '25-34 years old',
 '45-54 years old',
 '18-24 years old',
 '18-24 years old',
 '25-34 years old',
 'Under 18 years old',
 '18-24 years old',
 '18-24 years old',
 '25-34 years old',
 '25-34 years old',
 '35-44 years old',
 '35-44 years old',
 '18-24 years old',
 '25-34 years old',
 '25-34 years old',
 '35-44 years old',
 '25-34 years old',
 '18-24 years old',
 '25-34 years old',
 '45-54 years old',
 '25-34 years old',
 '35-44 years old',
 '25-34 years old',
 '25-34 years old',
 '18-24 years old',
 '25-34 years old',
 '25-34 years old',
 '25-34 years old',
 '18-24 years old',
 '35-44 years old',
 '25-34 years old',
 '25-34 years old',
 '18-24 years old',
 '25-34 years old',
 'Under 18 years old',
 '18-24 years old',
 '18-24 years old',
 '25-34 years old',
 'na',
 '35-44 years old',
 '35-44 years old',
 '18-24 years old',
 '18-24 years old',
 '25-34 years old',
 '18-24 years old',
 '35-44 years old',
 '25-34 years old',
 '25-34 years old',
 '18-24 years old',
 '25-34 years old',
 '25-34 years old',
 '25-34 years old',
 '35-44 years old',
 '25-34 years old',
 '35-44 years old',
 '18-24 years old',
 '25-34 years old',
 '18-24 years old',
 '25-34 years old',
 '25-34 years old',
 '25-34 years old',
 '25-34 years old',
 '18-24 years old',
 '35-44 years old',
 '18-24 years old',
 '35-44 years old',
 '25-34 years old',
 '55-64 years old',
 'Under 18 years old',
 '18-24 years old',
 'Under 18 years old',
 'Prefer not to say',
 '25-34 years old',
 '25-34 years old',
 '18-24 years old',
 '35-44 years old',
 '35-44 years old',
 '25-34 years old',
 'Under 18 years old',
 '35-44 years old',
 'na',
 'Under 18 years old',
 'Prefer not to say',
 '25-34 years old',
 '18-24 years old',
 '45-54 years old',
 '45-54 years old',
 '25-34 years old',
 '25-34 years old',
 '55-64 years old',
 '18-24 years old',
 '18-24 years old',
 '25-34 years old',
 '18-24 years old',
 'na',
 '18-24 years old',
 '45-54 years old',
 '25-34 years old',
 '18-24 years old',
 '25-34 years old',
 '35-44 years old',
 'Under 18 years old',
 '35-44 years old',
 '25-34 years old',
 '18-24 years old',
 '35-44 years old',
 '18-24 years old',
 '18-24 years old',
 'Under 18 years old',
 '25-34 years old',
 '25-34 years old',
 '25-34 years old',
 '25-34 years old',
 '25-34 years old',
 '35-44 years old',
 '35-44 years old',
 '18-24 years old',
 '25-34 years old',
 '18-24 years old',
 '55-64 years old',
 '45-54 years old',
 '35-44 years old',
 '35-44 years old',
 '25-34 years old',
 '18-24 years old',
 '25-34 years old',
 '18-24 years old',
 '18-24 years old',
 '55-64 years old',
 '35-44 years old',
 'Prefer not to say',
 '25-34 years old',
 '25-34 years old',
 '25-34 years old',
 '35-44 years old',
 '25-34 years old',
 '25-34 years old',
 '25-34 years old',
 '18-24 years old',
 '25-34 years old',
 '25-34 years old',
 '25-34 years old',
 'na',
 '18-24 years old',
 '25-34 years old',
 '25-34 years old',
 '25-34 years old',
 '18-24 years old',
 '25-34 years old',
 'Under 18 years old',
 '65 years or older',
 '25-34 years old',
 '18-24 years old',
 '25-34 years old',
 '18-24 years old',
 '25-34 years old',
 '25-34 years old',
 '55-64 years old',
 '35-44 years old',
 '25-34 years old',
 '25-34 years old',
 '25-34 years old',
 '25-34 years old',
 '18-24 years old',
 '18-24 years old',
 '25-34 years old',
 '35-44 years old',
 '25-34 years old',
 '25-34 years old',
 '25-34 years old',
 '35-44 years old',
 '18-24 years old',
 '25-34 years old',
 '25-34 years old',
 '25-34 years old',
 '18-24 years old',
 '25-34 years old',
 '18-24 years old',
 'Under 18 years old',
 '25-34 years old',
 'na',
 '18-24 years old',
 '18-24 years old',
 '18-24 years old',
 '55-64 years old',
 'na',
 '25-34 years old',
 '25-34 years old',
 '25-34 years old',
 '35-44 years old',
 '25-34 years old',
 '25-34 years old',
 '35-44 years old',
 '45-54 years old',
 '25-34 years old',
 'Under 18 years old',
 '45-54 years old',
 '25-34 years old',
 '18-24 years old',
 '25-34 years old',
 '35-44 years old',
 '25-34 years old',
 '45-54 years old',
 '45-54 years old',
 '35-44 years old',
 '18-24 years old',
 '25-34 years old',
 '45-54 years old',
 '35-44 years old',
 '25-34 years old',
 '18-24 years old',
 '25-34 years old',
 '25-34 years old',
 '18-24 years old',
 '18-24 years old',
 '45-54 years old',
 '25-34 years old',
 '18-24 years old',
 '18-24 years old',
 '35-44 years old',
 '18-24 years old',
 '25-34 years old',
 '35-44 years old',
 '25-34 years old',
 '35-44 years old',
 '25-34 years old',
 '45-54 years old',
 '25-34 years old',
 '35-44 years old',
 '25-34 years old',
 '25-34 years old',
 '18-24 years old',
 '18-24 years old',
 '18-24 years old',
 '25-34 years old',
 '25-34 years old',
 '25-34 years old',
 '25-34 years old',
 'Prefer not to say',
 '25-34 years old',
 '18-24 years old',
 '18-24 years old',
 'Under 18 years old',
 'na',
 '55-64 years old',
 '25-34 years old',
 '25-34 years old',
 '25-34 years old',
 'Under 18 years old',
 '25-34 years old',
 '25-34 years old',
 '25-34 years old',
 '25-34 years old',
 '25-34 years old',
 '25-34 years old',
 '25-34 years old',
 '25-34 years old',
 '25-34 years old',
 '25-34 years old',
 '35-44 years old',
 '25-34 years old',
 '18-24 years old',
 '25-34 years old',
 '25-34 years old',
 '25-34 years old',
 '25-34 years old',
 '55-64 years old',
 '18-24 years old',
 '35-44 years old',
 '18-24 years old',
 '35-44 years old',
 'Under 18 years old',
 '55-64 years old',
 '18-24 years old',
 '18-24 years old',
 '25-34 years old',
 '25-34 years old',
 '18-24 years old',
 '18-24 years old',
 '25-34 years old',
 '35-44 years old',
 '25-34 years old',
 '25-34 years old',
 '18-24 years old',
 '25-34 years old',
 '18-24 years old',
 '25-34 years old',
 '35-44 years old',
 '45-54 years old',
 '35-44 years old',
 '35-44 years old',
 '45-54 years old',
 '25-34 years old',
 '18-24 years old',
 'Under 18 years old',
 '55-64 years old',
 '25-34 years old',
 '25-34 years old',
 '25-34 years old',
 '25-34 years old',
 '18-24 years old',
 '25-34 years old',
 '25-34 years old',
 '25-34 years old',
 '25-34 years old',
 '25-34 years old',
 'na',
 '25-34 years old',
 '25-34 years old',
 '45-54 years old',
 '18-24 years old',
 '25-34 years old',
 '25-34 years old',
 '45-54 years old',
 '25-34 years old',
 '25-34 years old',
 '25-34 years old',
 '18-24 years old',
 'Under 18 years old',
 '25-34 years old',
 '25-34 years old',
 '25-34 years old',
 '25-34 years old',
 '25-34 years old',
 '18-24 years old',
 '18-24 years old',
 '55-64 years old',
 '35-44 years old',
 '25-34 years old',
 '18-24 years old',
 '25-34 years old',
 '25-34 years old',
 '25-34 years old',
 'Under 18 years old',
 '25-34 years old',
 '45-54 years old',
 '35-44 years old',
 '25-34 years old',
 '18-24 years old',
 '35-44 years old',
 '18-24 years old',
 '18-24 years old',
 '18-24 years old',
 '35-44 years old',
 '18-24 years old',
 '18-24 years old',
 '35-44 years old',
 '25-34 years old',
 'Under 18 years old',
 '35-44 years old',
 '35-44 years old',
 '25-34 years old',
 '25-34 years old',
 '35-44 years old',
 '25-34 years old',
 '18-24 years old',
 '25-34 years old',
 '18-24 years old',
 '25-34 years old',
 'na',
 'Prefer not to say',
 '25-34 years old',
 '18-24 years old',
 '35-44 years old',
 '25-34 years old',
 '35-44 years old',
 '18-24 years old',
 '35-44 years old',
 '35-44 years old',
 '35-44 years old',
 '25-34 years old',
 '35-44 years old',
 '25-34 years old',
 '18-24 years old',
 '45-54 years old',
 '25-34 years old',
 '18-24 years old',
 'Under 18 years old',
 '35-44 years old',
 '45-54 years old',
 '18-24 years old',
 '25-34 years old',
 '18-24 years old',
 '25-34 years old',
 'na',
 '25-34 years old',
 'Under 18 years old',
 '18-24 years old',
 '25-34 years old',
 '18-24 years old',
 '18-24 years old',
 '25-34 years old',
 '45-54 years old',
 '35-44 years old',
 '25-34 years old',
 '18-24 years old',
 '25-34 years old',
 '25-34 years old',
 '18-24 years old',
 '25-34 years old',
 '55-64 years old',
 '18-24 years old',
 '25-34 years old',
 '35-44 years old',
 '25-34 years old',
 '25-34 years old',
 '45-54 years old',
 '25-34 years old',
 '35-44 years old',
 'Under 18 years old',
 '25-34 years old',
 '35-44 years old',
 '35-44 years old',
 '25-34 years old',
 '35-44 years old',
 '25-34 years old',
 '25-34 years old',
 '18-24 years old',
 '18-24 years old',
 '35-44 years old',
 '18-24 years old',
 '18-24 years old',
 '25-34 years old',
 '18-24 years old',
 '25-34 years old',
 '25-34 years old',
 '25-34 years old',
 '18-24 years old',
 '18-24 years old',
 '25-34 years old',
 'Under 18 years old',
 '18-24 years old',
 '35-44 years old',
 '25-34 years old',
 '18-24 years old',
 '25-34 years old',
 'na',
 '18-24 years old',
 '18-24 years old',
 '45-54 years old',
 '25-34 years old',
 '25-34 years old',
 '25-34 years old',
 '18-24 years old',
 '25-34 years old',
 '18-24 years old',
 '25-34 years old',
 '25-34 years old',
 '18-24 years old',
 '25-34 years old',
 '25-34 years old',
 '45-54 years old',
 '18-24 years old',
 '25-34 years old',
 '18-24 years old',
 '25-34 years old',
 '25-34 years old',
 '35-44 years old',
 '25-34 years old',
 '25-34 years old',
 '25-34 years old',
 'Under 18 years old',
 '18-24 years old',
 '25-34 years old',
 '25-34 years old',
 '18-24 years old',
 '35-44 years old',
 '25-34 years old',
 '45-54 years old',
 '25-34 years old',
 '18-24 years old',
 '25-34 years old',
 '18-24 years old',
 '35-44 years old',
 '35-44 years old',
 '25-34 years old',
 '18-24 years old',
 '25-34 years old',
 '25-34 years old',
 '45-54 years old',
 '25-34 years old',
 '45-54 years old',
 '18-24 years old',
 '45-54 years old',
 '35-44 years old',
 '18-24 years old',
 'Under 18 years old',
 '35-44 years old',
 '35-44 years old',
 '45-54 years old',
 '25-34 years old',
 '18-24 years old',
 '25-34 years old',
 '18-24 years old',
 '65 years or older',
 '25-34 years old',
 '35-44 years old',
 '18-24 years old',
 '25-34 years old',
 '18-24 years old',
 '25-34 years old',
 '25-34 years old',
 '18-24 years old',
 '35-44 years old',
 '25-34 years old',
 '25-34 years old',
 '25-34 years old',
 '25-34 years old',
 '18-24 years old',
 '18-24 years old',
 '18-24 years old',
 '45-54 years old',
 'Under 18 years old',
 '25-34 years old',
 '25-34 years old',
 '25-34 years old',
 '45-54 years old',
 '25-34 years old',
 '25-34 years old',
 '25-34 years old',
 '45-54 years old',
 '25-34 years old',
 '25-34 years old',
 '18-24 years old',
 '18-24 years old',
 '35-44 years old',
 '25-34 years old',
 '18-24 years old',
 '35-44 years old',
 '18-24 years old',
 '25-34 years old',
 '35-44 years old',
 '18-24 years old',
 '18-24 years old',
 '18-24 years old',
 '35-44 years old',
 '45-54 years old',
 '25-34 years old',
 '35-44 years old',
 '35-44 years old',
 '35-44 years old',
 '18-24 years old',
 '25-34 years old',
 '25-34 years old',
 '25-34 years old',
 '35-44 years old',
 '25-34 years old',
 '35-44 years old',
 '55-64 years old',
 '25-34 years old',
 '18-24 years old',
 '35-44 years old',
 'Under 18 years old',
 'Under 18 years old',
 'na',
 '25-34 years old',
 '25-34 years old',
 '25-34 years old',
 '25-34 years old',
 '18-24 years old',
 '25-34 years old',
 '25-34 years old',
 '35-44 years old',
 '25-34 years old',
 '35-44 years old',
 '25-34 years old',
 '25-34 years old',
 '25-34 years old',
 '25-34 years old',
 '18-24 years old',
 '35-44 years old',
 '25-34 years old',
 '25-34 years old',
 '25-34 years old',
 '18-24 years old',
 '25-34 years old',
 '35-44 years old',
 '18-24 years old',
 '35-44 years old',
 '35-44 years old',
 '35-44 years old',
 '25-34 years old',
 '18-24 years old',
 '25-34 years old',
 '25-34 years old',
 '18-24 years old',
 '35-44 years old',
 '25-34 years old',
 '18-24 years old',
 '65 years or older',
 '18-24 years old',
 '25-34 years old',
 '45-54 years old',
 '25-34 years old',
 'Under 18 years old',
 '25-34 years old',
 '18-24 years old',
 '25-34 years old',
 '25-34 years old',
 '25-34 years old',
 '35-44 years old',
 '25-34 years old',
 '35-44 years old',
 '18-24 years old',
 '25-34 years old',
 '25-34 years old',
 '45-54 years old',
 '18-24 years old',
 '25-34 years old',
 '18-24 years old',
 '25-34 years old',
 '18-24 years old',
 '18-24 years old',
 '25-34 years old',
 '25-34 years old',
 '25-34 years old',
 '18-24 years old',
 '25-34 years old',
 '35-44 years old',
 '35-44 years old',
 '25-34 years old',
 '18-24 years old',
 '18-24 years old',
 '35-44 years old',
 '25-34 years old',
 'Under 18 years old',
 '25-34 years old',
 '25-34 years old',
 'Under 18 years old',
 '25-34 years old',
 '25-34 years old',
 'Under 18 years old',
 '18-24 years old',
 '25-34 years old',
 '35-44 years old',
 '25-34 years old',
 '25-34 years old',
 '25-34 years old',
 '18-24 years old',
 '55-64 years old',
 '18-24 years old',
 '18-24 years old',
 '35-44 years old',
 '25-34 years old',
 '25-34 years old',
 '55-64 years old',
 '25-34 years old',
 '25-34 years old',
 '35-44 years old',
 '25-34 years old',
 '35-44 years old',
 '18-24 years old',
 '25-34 years old',
 '18-24 years old',
 '25-34 years old',
 '18-24 years old',
 '18-24 years old',
 '25-34 years old',
 '25-34 years old',
 '18-24 years old',
 '35-44 years old',
 '25-34 years old',
 '25-34 years old',
 '25-34 years old',
 '45-54 years old',
 '25-34 years old',
 'Under 18 years old',
 '45-54 years old',
 '35-44 years old',
 '25-34 years old',
 'Under 18 years old',
 '18-24 years old',
 '18-24 years old',
 '35-44 years old',
 '18-24 years old',
 '35-44 years old',
 '25-34 years old',
 '25-34 years old',
 '35-44 years old',
 'Under 18 years old',
 'Under 18 years old',
 '25-34 years old',
 '35-44 years old',
 '25-34 years old',
 '18-24 years old',
 '35-44 years old',
 '25-34 years old',
 '35-44 years old',
 '35-44 years old',
 '18-24 years old',
 '18-24 years old',
 '18-24 years old',
 '25-34 years old',
 '25-34 years old',
 '25-34 years old',
 'na',
 '35-44 years old',
 '25-34 years old',
 '25-34 years old',
 '25-34 years old',
 '25-34 years old',
 '35-44 years old',
 '25-34 years old',
 '35-44 years old',
 '35-44 years old',
 '35-44 years old',
 '25-34 years old',
 '18-24 years old',
 '25-34 years old',
 '18-24 years old',
 '18-24 years old',
 '18-24 years old',
 '25-34 years old',
 '45-54 years old',
 'Under 18 years old',
 '18-24 years old',
 '35-44 years old',
 '25-34 years old',
 '25-34 years old',
 '18-24 years old',
 '45-54 years old',
 '18-24 years old',
 '25-34 years old',
 '45-54 years old',
 '25-34 years old',
 '18-24 years old',
 'na',
 '18-24 years old',
 '25-34 years old',
 '35-44 years old',
 '25-34 years old',
 '18-24 years old',
 '45-54 years old',
 '25-34 years old',
 '25-34 years old',
 '25-34 years old',
 '18-24 years old',
 '25-34 years old',
 '25-34 years old',
 '18-24 years old',
 '55-64 years old',
 '18-24 years old',
 '25-34 years old',
 '25-34 years old',
 'Under 18 years old',
 '25-34 years old',
 'Under 18 years old',
 '25-34 years old',
 '25-34 years old',
 '25-34 years old',
 '45-54 years old',
 '25-34 years old',
 'Under 18 years old',
 'Under 18 years old',
 '45-54 years old',
 '25-34 years old',
 '45-54 years old',
 '25-34 years old',
 '18-24 years old',
 '18-24 years old',
 '45-54 years old',
 '25-34 years old',
 '45-54 years old',
 '25-34 years old',
 '35-44 years old',
 '25-34 years old',
 '25-34 years old',
 '35-44 years old',
 '35-44 years old',
 'na',
 '45-54 years old',
 '25-34 years old',
 '35-44 years old',
 '18-24 years old',
 'Under 18 years old',
 '55-64 years old',
 '25-34 years old',
 '18-24 years old',
 '18-24 years old',
 '25-34 years old',
 '45-54 years old',
 '18-24 years old',
 '18-24 years old',
 '25-34 years old',
 '25-34 years old',
 '25-34 years old',
 '18-24 years old',
 ...]

In [21]:
l2

['Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Prefer not to say',
 'Prefer not to say',
 'Woman',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Prefer not to say',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Non-binary, genderqueer, or gender non-conforming',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Woman',
 'Man',
 'Man',
 'Man',
 'Man',
 'Woman',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Woman',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Non-binary, genderqueer, or gender non-conforming',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Woman',
 'Man',
 'Man',
 'Man;Or, in your own words:',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Prefer not to say',
 'Man',
 'Man',
 'Man',
 'Non-binary, genderqueer, or gender non-conforming',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Woman',
 'Man',
 'Man',
 'Man',
 'Woman',
 'Man',
 'Man',
 'na',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Prefer not to say',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Woman',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Woman',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Prefer not to say',
 'Man',
 'Man',
 'Man',
 'Man',
 'na',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Woman',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man;Or, in your own words:',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Prefer not to say',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'na',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Woman;Non-binary, genderqueer, or gender non-conforming',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'na',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Woman',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man;Non-binary, genderqueer, or gender non-conforming',
 'Man',
 'Man',
 'Prefer not to say',
 'Man',
 'Prefer not to say',
 'Prefer not to say',
 'Man',
 'Man',
 'Man',
 'Woman',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'na',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Woman',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'na',
 'Man',
 'Man',
 'Man',
 'Man',
 'na',
 'Or, in your own words:',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Woman',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Woman',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Prefer not to say',
 'Man',
 'Man',
 'Man',
 'Man',
 'na',
 'Or, in your own words:',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Woman',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Woman',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Or, in your own words:',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'na',
 'Man',
 'Man',
 'Man',
 'Woman',
 'Man',
 'Man',
 'Man',
 'Prefer not to say',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Woman',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'na',
 'Prefer not to say',
 'Man',
 'Man',
 'Man',
 'Woman',
 'Man',
 'Prefer not to say',
 'Man',
 'Man',
 'Man',
 'Man',
 'Woman',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'na',
 'Man',
 'Man',
 'Man',
 'Prefer not to say',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Woman',
 'Man',
 'Non-binary, genderqueer, or gender non-conforming',
 'Man;Or, in your own words:',
 'Man',
 'Man',
 'Or, in your own words:',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'na',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Woman',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Woman;Non-binary, genderqueer, or gender non-conforming',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Or, in your own words:',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Woman',
 'na',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Woman;Non-binary, genderqueer, or gender non-conforming',
 'Man',
 'Man',
 'Man',
 'Man',
 'Prefer not to say',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Woman',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Or, in your own words:',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Prefer not to say',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Prefer not to say',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Prefer not to say',
 'Man',
 'Man',
 'Man',
 'Prefer not to say',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Prefer not to say',
 'Man',
 'Non-binary, genderqueer, or gender non-conforming',
 'Man',
 'Man',
 'Man',
 'na',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'na',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man;Non-binary, genderqueer, or gender non-conforming',
 'Man',
 'Man',
 'Man',
 'Woman',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Woman',
 'na',
 'Man',
 'Man',
 'Man',
 'Woman',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 'Man',
 ...]

In [22]:
df.head()

,ResponseId,MainBranch,Employment,Country,US_State,UK_Country,EdLevel,Age1stCode,LearnCode,YearsCode,YearsCodePro,DevType,OrgSize,Currency,CompTotal,CompFreq,LanguageHaveWorkedWith,LanguageWantToWorkWith,DatabaseHaveWorkedWith,DatabaseWantToWorkWith,PlatformHaveWorkedWith,PlatformWantToWorkWith,WebframeHaveWorkedWith,WebframeWantToWorkWith,MiscTechHaveWorkedWith,MiscTechWantToWorkWith,ToolsTechHaveWorkedWith,ToolsTechWantToWorkWith,NEWCollabToolsHaveWorkedWith,NEWCollabToolsWantToWorkWith,OpSys,NEWStuck,NEWSOSites,SOVisitFreq,SOAccount,SOPartFreq,SOComm,NEWOtherComms,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,SurveyLength,SurveyEase,ConvertedCompYearly,Description
0,1,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Slovakia,NaN,NaN,"Secondary school (e.g. American high school, G...",18 - 24 years,Coding Bootcamp;Other online resources (ex: vi...,NaN,NaN,"Developer, mobile",20 to 99 employees,EUR European Euro,4800.0,Monthly,C++;HTML/CSS;JavaScript;Objective-C;PHP;Swift,Swift,PostgreSQL;SQLite,SQLite,NaN,NaN,Laravel;Symfony,NaN,NaN,NaN,NaN,NaN,PHPStorm;Xcode,Atom;Xcode,MacOS,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow,Multiple times per day,Yes,A few times per month or weekly,"Yes, definitely",No,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,62268.0,25-34 years old and Man
1,2,I am a student who is learning to code,"Student, full-time",Netherlands,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",7,NaN,NaN,NaN,NaN,NaN,NaN,JavaScript;Python,NaN,PostgreSQL,NaN,NaN,NaN,Angular;Flask;Vue.js,NaN,Cordova,NaN,Docker;Git;Yarn,Git,Android Studio;IntelliJ;Notepad++;PyCharm,NaN,Windows,Visit Stack Overflow;Google it,Stack Overflow,Daily or almost daily,Yes,Daily or almost daily,"Yes, definitely",No,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,NaN,18-24 years old and Man
2,3,"I am not primarily a developer, but I write co...","Student, full-time",Russian Federation,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,Assembly;C;Python;R;Rust,Julia;Python;Rust,SQLite,SQLite,Heroku,NaN,Flask,Flask,NumPy;Pandas;TensorFlow;Torch/PyTorch,Keras;NumPy;Pandas;TensorFlow;Torch/PyTorch,NaN,NaN,IPython/Jupyter;PyCharm;RStudio;Sublime Text;V...,IPython/Jupyter;RStudio;Sublime Text;Visual St...,MacOS,Visit Stack Overflow;Google it;Watch help / tu...,Stack Overflow;Stack Exchange,Multiple times per day,Yes,Multiple times per day,"Yes, definitely",Yes,No,Prefer not to say,Prefer not to say,None of the above,None of the above,Appropriate in length,Easy,NaN,18-24 years old and Man
3,4,I am a developer by profession,Employed full-time,Austria,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",11 - 17 years,NaN,NaN,NaN,"Developer, front-end",100 to 499 employees,EUR European Euro,NaN,Monthly,JavaScript;TypeScript,JavaScript;TypeScript,NaN,NaN,NaN,NaN,Angular;jQuery,Angular;jQuery,NaN,NaN,NaN,NaN,NaN,NaN,Windows,Call a coworker or friend;Visit Stack Overflow...,Stack Overflow,Daily or almost daily,Yes,Daily or almost daily,Neutral,No,No,Straight / Heterosexual,White or of European descent,I am deaf / hard of hearing,NaN,Appropriate in length,Neither easy nor difficult,NaN,35-44 years old and Man
4,5,I am a developer by profession,"Independent contractor, freelancer, or self-em...",United Kingdom of Great Britain and Northern I...,NaN,England,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",5 - 10 years,Friend or family member,17,10,"Developer, desktop or enterprise applications;...","Just me - I am a freelancer, sole proprietor, ...",GBP\tPound sterling,NaN,NaN,Bash/Shell;HTML/CSS;Python;SQL,Bash/Shell;HTML/CSS;Python;SQL,Elasticsearch;PostgreSQL;Redis,Cassandra;Elasticsearch;PostgreSQL;Redis,NaN,NaN,Flask,Flask,Apache Spark;Hadoop;NumPy;Pandas,Hadoop;NumPy;Pandas,Docker;Git;Kubernetes;Yarn,Docker;Git;Kubernetes;Yarn,Atom;IPython/Jupyter;Notepad++;PyCharm;Vim,Atom;IPython/Jupyter;Notepad++;PyCharm;Vim;Vis...,Linux-based,Visit Stack Overflow;Go for a walk or other ph...,Stack Overflow;Stack Exchange,Daily or almost daily,Yes,A few times per week,"Yes, somewhat",No,No,NaN,White or of European descent,None of the above,NaN,Appropriate in length,Easy,NaN,25-34 years old and Man

# 4.Spliting column(description) as columns(gender,age)

In [23]:
df["Age"]=pd.Series(l1)
df["Gender"]=pd.Series(l2)
df.columns

Index(['ResponseId', 'MainBranch', 'Employment', 'Country', 'US_State',
       'UK_Country', 'EdLevel', 'Age1stCode', 'LearnCode', 'YearsCode',
       'YearsCodePro', 'DevType', 'OrgSize', 'Currency', 'CompTotal',
       'CompFreq', 'LanguageHaveWorkedWith', 'LanguageWantToWorkWith',
       'DatabaseHaveWorkedWith', 'DatabaseWantToWorkWith',
       'PlatformHaveWorkedWith', 'PlatformWantToWorkWith',
       'WebframeHaveWorkedWith', 'WebframeWantToWorkWith',
       'MiscTechHaveWorkedWith', 'MiscTechWantToWorkWith',
       'ToolsTechHaveWorkedWith', 'ToolsTechWantToWorkWith',
       'NEWCollabToolsHaveWorkedWith', 'NEWCollabToolsWantToWorkWith', 'OpSys',
       'NEWStuck', 'NEWSOSites', 'SOVisitFreq', 'SOAccount', 'SOPartFreq',
       'SOComm', 'NEWOtherComms', 'Trans', 'Sexuality', 'Ethnicity',
       'Accessibility', 'MentalHealth', 'SurveyLength', 'SurveyEase',
       'ConvertedCompYearly', 'Description', 'Age', 'Gender'],
      dtype='object')

# 5.Drop column (description)

In [24]:
df.drop(columns="Description",inplace=True)
df.columns

Index(['ResponseId', 'MainBranch', 'Employment', 'Country', 'US_State',
       'UK_Country', 'EdLevel', 'Age1stCode', 'LearnCode', 'YearsCode',
       'YearsCodePro', 'DevType', 'OrgSize', 'Currency', 'CompTotal',
       'CompFreq', 'LanguageHaveWorkedWith', 'LanguageWantToWorkWith',
       'DatabaseHaveWorkedWith', 'DatabaseWantToWorkWith',
       'PlatformHaveWorkedWith', 'PlatformWantToWorkWith',
       'WebframeHaveWorkedWith', 'WebframeWantToWorkWith',
       'MiscTechHaveWorkedWith', 'MiscTechWantToWorkWith',
       'ToolsTechHaveWorkedWith', 'ToolsTechWantToWorkWith',
       'NEWCollabToolsHaveWorkedWith', 'NEWCollabToolsWantToWorkWith', 'OpSys',
       'NEWStuck', 'NEWSOSites', 'SOVisitFreq', 'SOAccount', 'SOPartFreq',
       'SOComm', 'NEWOtherComms', 'Trans', 'Sexuality', 'Ethnicity',
       'Accessibility', 'MentalHealth', 'SurveyLength', 'SurveyEase',
       'ConvertedCompYearly', 'Age', 'Gender'],
      dtype='object')

In [25]:
df.loc[:,["Country","ConvertedCompYearly"]]

                                                 Country  ConvertedCompYearly
0                                               Slovakia              62268.0
1                                            Netherlands                  NaN
2                                     Russian Federation                  NaN
3                                                Austria                  NaN
4      United Kingdom of Great Britain and Northern I...                  NaN
...                                                  ...                  ...
83434                           United States of America             160500.0
83435                                              Benin               3960.0
83436                           United States of America              90000.0
83437                                             Canada             816816.0
83438                                             Brazil              21168.0

[83439 rows x 2 columns]

# 6.Make a df of the salary's mean,median,std,max,min as per each country

In [26]:
grpby_country=df.groupby("Country")
df2=pd.DataFrame(grpby_country["ConvertedCompYearly"].agg(["mean","median","std","max","min"]))
df2

,mean,median,std,max,min
Country,,,,,
Afghanistan,2.794748e+06,9792.0,9.178461e+06,30468516.0,100.0
Albania,4.499814e+04,15900.0,1.159813e+05,692042.0,48.0
Algeria,1.446114e+04,9875.0,1.429369e+04,48550.0,3828.0
Andorra,8.928200e+04,94045.5,5.344556e+04,146981.0,22056.0
Angola,2.155680e+04,9750.0,2.980082e+04,96000.0,1212.0
...,...,...,...,...,...
"Venezuela, Bolivarian Republic of...",2.246505e+04,12000.0,3.635010e+04,229596.0,353.0
Viet Nam,1.995289e+04,12678.0,2.968039e+04,258744.0,1000.0
Yemen,5.628667e+03,3954.0,6.860342e+03,19176.0,100.0
Zambia,1.991491e+04,9816.0,2.935429e+04,105000.0,4056.0
Zimbabwe,1.141477e+04,7200.0,1.053487e+04,36000.0,120.0

In [27]:
df.columns

Index(['ResponseId', 'MainBranch', 'Employment', 'Country', 'US_State',
       'UK_Country', 'EdLevel', 'Age1stCode', 'LearnCode', 'YearsCode',
       'YearsCodePro', 'DevType', 'OrgSize', 'Currency', 'CompTotal',
       'CompFreq', 'LanguageHaveWorkedWith', 'LanguageWantToWorkWith',
       'DatabaseHaveWorkedWith', 'DatabaseWantToWorkWith',
       'PlatformHaveWorkedWith', 'PlatformWantToWorkWith',
       'WebframeHaveWorkedWith', 'WebframeWantToWorkWith',
       'MiscTechHaveWorkedWith', 'MiscTechWantToWorkWith',
       'ToolsTechHaveWorkedWith', 'ToolsTechWantToWorkWith',
       'NEWCollabToolsHaveWorkedWith', 'NEWCollabToolsWantToWorkWith', 'OpSys',
       'NEWStuck', 'NEWSOSites', 'SOVisitFreq', 'SOAccount', 'SOPartFreq',
       'SOComm', 'NEWOtherComms', 'Trans', 'Sexuality', 'Ethnicity',
       'Accessibility', 'MentalHealth', 'SurveyLength', 'SurveyEase',
       'ConvertedCompYearly', 'Age', 'Gender'],
      dtype='object')

In [28]:
df["SOAccount"]

0        Yes
1        Yes
2        Yes
3        Yes
4        Yes
        ...
83434     No
83435    Yes
83436    Yes
83437    Yes
83438    Yes
Name: SOAccount, Length: 83439, dtype: object

In [29]:
df["SOAccount"].fillna("nan",inplace=True)

In [30]:
df3=pd.DataFrame(grpby_country["SOAccount"].value_counts())
df3

                                     SOAccount
Country     SOAccount
Afghanistan Yes                             39
            No                              11
            nan                              8
            Not sure/can't remember          7
Albania     Yes                             56
...                                        ...
Zambia      No                               1
Zimbabwe    Yes                             28
            Not sure/can't remember          5
            No                               2
            nan                              1

[572 rows x 1 columns]

In [31]:
# df3.to_excel("need_to_edit.xlsx")

In [32]:
#edited in excel,change the columns name and reset the indexes

In [33]:
df4=pd.read_excel("need_to_edit.xlsx")
df4

         Country                SOAccount  Count
0    Afghanistan                      Yes     39
1            NaN                       No     11
2            NaN                      NaN      8
3            NaN  Not sure/can't remember      7
4        Albania                      Yes     56
..           ...                      ...    ...
567          NaN                       No      1
568     Zimbabwe                      Yes     28
569          NaN  Not sure/can't remember      5
570          NaN                       No      2
571          NaN                      NaN      1

[572 rows x 3 columns]

In [34]:
df4.dropna(inplace=True)

In [35]:
df4=df4.reset_index()
df4.drop(columns=["index","SOAccount"],inplace=True)
df4

                                  Country  Count
0                             Afghanistan     39
1                                 Albania     56
2                                 Algeria     33
3                                 Andorra     10
4                                  Angola     16
..                                    ...    ...
176  Venezuela, Bolivarian Republic of...     87
177                              Viet Nam    313
178                                 Yemen     18
179                                Zambia     19
180                              Zimbabwe     28

[181 rows x 2 columns]

In [36]:
df5=pd.DataFrame(grpby_country["SOAccount"].count())
df5=df5.reset_index()
df5

                                  Country  SOAccount
0                             Afghanistan         65
1                                 Albania         73
2                                 Algeria         46
3                                 Andorra         12
4                                  Angola         27
..                                    ...        ...
176  Venezuela, Bolivarian Republic of...        104
177                              Viet Nam        386
178                                 Yemen         20
179                                Zambia         22
180                              Zimbabwe         36

[181 rows x 2 columns]

In [37]:
df4["total_people"]=df5["SOAccount"]

In [38]:
df4

                                  Country  Count  total_people
0                             Afghanistan     39            65
1                                 Albania     56            73
2                                 Algeria     33            46
3                                 Andorra     10            12
4                                  Angola     16            27
..                                    ...    ...           ...
176  Venezuela, Bolivarian Republic of...     87           104
177                              Viet Nam    313           386
178                                 Yemen     18            20
179                                Zambia     19            22
180                              Zimbabwe     28            36

[181 rows x 3 columns]

# 7.Make a df of number of person have the social media account and the percentage of people who have the social media account as per each country

In [39]:
df4["percentage_of_who_uses_social_media"]=(df4["Count"]/df4["total_people"])*100
df4.head()

       Country  Count  total_people  percentage_of_who_uses_social_media
0  Afghanistan     39            65                            60.000000
1      Albania     56            73                            76.712329
2      Algeria     33            46                            71.739130
3      Andorra     10            12                            83.333333
4       Angola     16            27                            59.259259